.header {
    border: 3px solid red;
    width: 100vw;
    height: 2rem;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
    padding: 3rem;
    background-color: #c00404;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header img {
    height: 8rem;
}