.header {
    border: 3px solid red;
    width: 100vw;
    height: 0.25rem;
    display: flex;
    padding: 3rem;
    background-color: #c00404;
    z-index: 1000;
}

.header .nav {
    position: relative;
}

.header img {
    height: 10rem;
    align-self: center;
    margin-top: -3rem;
}

.header h1 {
    /* height: 10rem; */
    align-self: center;
    margin-top: 4.5rem;
    color: white;
}

.header a:hover {
    color: #747bff;
}