.about-wrapper {
    text-align: center;
    padding: 20px;
}

.section {
    margin-bottom: 30px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.developer {
    background-color: #d6eadf;
    border: 1px solid #ddd;
    border-radius: 1rem;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.developer p {
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
}

.developer a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.developer a:hover {
    text-decoration: underline;
}

.retro-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #555;
    position: relative;
    display: inline-block;
    font-weight: 600;
}

.retro-text::before {
    content: attr(data-text);
    position: absolute;
    color: #ff70b8;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    white-space: nowrap;
}

.retro-text:hover::before {
    width: 100%;
}

.developer-image {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}